<div class="section flex white center" animateOnScroll animationName="fadeIn">
    <div class="leftBloc">
        <h2>QryptoBank AG
        </h2>
        <div class="dot">
            Qryptobank AG is a next-gen Bank 3.0 dedicated to crypto-assets holders and devoted to fluid and seamless transactions between electronic money wallets and crypto wallets. Worldwide Crypto transactions volumes reaches over $6 billion daily and are bound
            to skyrocket. The most recent technologies are revolutionizing the way we invest through AI, various assets backed tokenizations, and are the dawn of a new global ecosystem : Qryptobank is offering the BBAAS (blockchain and bank as a service)
            to be part of this (r)evolution.
        </div>
        <div class="btnActions">
            <div class="CTA CTA1 ">
                Calendar
            </div>
            <div class="CTA CTA2 ">
                Download the prospectus
            </div>
        </div>

    </div>
    <div>
        <video src="assets/videos/investor_video.mp4 " loop autoplay [muted]=" 'muted ' "></video>
    </div>
</div>
<div class="space"></div>
<div class="section flex  center" animateOnScroll animationName="fadeIn">
    <img src="assets/images/revenue.svg" alt="" class="imageContainerLeft">
    <div class=" leftBloc ">
        <h2>Qryptobank 2023
        </h2>
        <div class="dot">
            Qryptobank 2023 targeted revenues : 50 million Euros. In order to launch the companies under the Swiss and German regulators, we are organising a fundraising, to reach an amount of 2 500 000€ to be added to the 2 million euros already contracted with
            Perffin Germany. a tintech early stage investment fund.
        </div>
        <div class="btnActions">
            <div class="CTA CTA1 ">
                Calendar
            </div>
            <div class="CTA CTA2 ">
                Download the prospectus
            </div>
        </div>

    </div>
</div>
<div class="space"></div>
<div class="section flex center white" animateOnScroll animationName="fadeIn">
    <div class=" leftBloc ">
        <div class="dot">
            Please find the prospectus and an executive summary of the company by clicking on this link
        </div>
        <div class="btnActions">
            <div class="CTA CTA2 ">
                Download the prospectus
            </div>
        </div>
        <div class="dot">
            If you are interested by this investment opportunity, please contact the Investor Relations team on: +33(0) 6 72 94 12 82 / +44 20 7871 0585 or make an appointment by clicking here:
        </div>
        <div class="btnActions">
            <div class="CTA CTA2 ">
                Calendar
            </div>
        </div>

    </div>
    <img src="assets/images/wallet.svg" alt="" class="imageContainerRight">
</div>