.btnActions .CTA {
    margin-right: 16px;
    margin-top: 32px;
}

.dot {
    line-height: 1.8em;
    opacity: 0.6;
}

.imageContainerLeft {
    width: 23vw;
    margin-right: 19vw;
}

.imageContainerRight {
    width: 23vw;
    margin-left: 19vw;
}

.btnActions {
    margin-bottom: 32px;
}